<!---Name:Cheuk Man Chan
     StudentID :301264488
     Date:2/6/2023               
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <main class="ontainer" style="background-color: #D7C0AE;">
        <div class="jumbotron" style="background-color: #D7C0AE;">

    <h1>Welcome to <%= title %> Page</h1>
    <p class="bg-success"><img src="/img/me.jpg" style: width="200px"; height="300px">
        My Name is Cheuk Man Chan.You can call me Kerry as my perfered name.I am studing Software Engineering Technician in Centennial College.</p>
        <p class="bg-success">I love playing video game and watching Japanese anime during my free time. I love most of the indoor activity but playing basketball would be my only favourite sports.</p>
        <a class="nav-item nav-link" href="/img/Profo.pdf"><button href="/aaa" type="button" class="btn btn-primary">My Resume</button></a>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   