<!---Name:Cheuk Man Chan
     StudentID :301264488
     Date:2/6/2023               
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <main class="ontainer" style="background-color: #D7C0AE;">
        <div class="jumbotron" style="background-color: #D7C0AE;">

            <h1>Welcome to <%= title %> Page</h1>

    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="img/proj1.png" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Website for a Estate Company</h2>
                        <p>I have created a web site for a Estate Company using HTML5. It allow user to view the information of house for rent and also check out the contact for the agrent</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="img/proj2.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">DateBase for an online sote</h2>
                        <p>I have created a database for a online store. It allows the store to create their own database collecting data on both their product,customer's information at all their store.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="img/proj3.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">C# Programme</h2>
                        <p>I have done a lot on C# Programming for a lot of useage. It usually doing calculation for values or create a new value for use.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   