<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <main class="ontainer" style="background-color: #D7C0AE;">
        <div class="jumbotron" style="background-color: #D7C0AE;">

            <h1>Welcome to <%= title %> Page</h1>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="img/ser1.png" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Programming languages</h2>
                        <p class="bg-warning">C#,Javascript,Java,Python</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="img/ser2.png" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Software Project Management</h2>
                        <p class="bg-warning">Knowledge on following a software project.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="img/ser3.png" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">DateBase SQL</h2>
                        <p class="bg-warning">Definition Language (DDL), Data Control Language (DCL), Data Manipulation Language (DML), and Transaction Control Language (TCL).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   